body {
    font-family: Arial, sans-serif;
    background-color: rgb(240, 159, 228);
    text-align: center;
    color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid blue;
    border-radius: 5px;
    width: calc(100% - 22px);
}

button {
    background-color: rgb(68, 68, 244);
    color:cornsilk;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:hover {
    background-color: rgb(8, 185, 245);
}
